*{
 padding:0;
 margin:0;
  box-sizing:border-box;
  


}
body,html{
    font-family: "Nunito",sans-serif;
}
li{
  list-style:none;
  
  
}
a{
  text-decoration:none;
  color:black;

}
.bg{
  opacity:.1;
  top:-5%;

  position :absolute;
  left:30px
  

}
.header{
  
 display:flex;

justify-content:space-between;
margin-left:80px;
padding:40px;
padding-bottom:0;

 
}
ul{
  display:flex;
  gap:3rem;
  

}

.article{
  border:2px solid black;
  border-radius:20px;
  color:white;
  background-color:black;
  padding:10px ;
  align-items:center;
}
main{
  width:100%;
  padding:100px;

  display:flex;
}

main h2{
  padding:20px;
  margin:20px;
  margin-bottom:0;
  font-size:80px;
  font-weight:400
}

img{
  width:900px;
  height:600px;
}

.hero p{
 margin:50px;
 line-height:20px;
width:100%;
margin-top:0;
}
.hero button{
  margin:40px;
  margin-top:0;
  color:white;
  background-color:black;
  padding:10px;
  border-radius:10px;
  
}

footer{
  background-color:black;
  height:400px;
 padding-top:30px;
 line-height:30px;

}
footer  h4

{
  color:lightblue;
}
.end{
  display:flex;
 max-width:1500px;
 justify-content:space-around;
margin:40px;
padding:30px;

color:white;

  
}

.bg2{
  opacity:0.1;
  position:absolute;
  top:70%;
  left:20%;
  z-index:1;
}